<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/vendor/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container-fluid">
<div class="header">
    <h1>Polls</h1>
</div>

{% block content %}
{% endblock %}

</div>


<script src="/static/vendor/js/jquery-1.11.1.min.js"></script>
<script src="/static/vendor/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
<script src="http://192.168.254.129:35729/livereload.js"></script>
</body>
</html>
